@import "kouto-swiss"
@import 'jeet'
@import 'rupture'

@import '_vars'

@import 'views/*'

h2
  margin 25px 0 10px

p
  margin 0 0 15px 0

.wpme_content
  padding 0 15px 0 0

.wpme_button
  padding 10px 30px
  border-radius 30px
  border solid 1px $mandy
  color $mandy
  background-color transparent
  font-size rem(20px)
  line-height 1em
  display inline-block
  transition .5s
  margin 5px
  cursor pointer
  &:hover
    color #FFFFFF
    background-color $mandy
  &:focus
    outline none
